@charset 'utf-8';

@import "./social-color.scss";

// Colors
$color-primary-darker: #750019;
$color-primary-dark: #a80024;
$color-primary: #db0030;
$color-primary-light: #ff0f43;
$color-primary-lighter: #ff426b;
$color-accent-darker: #1b5faa;
$color-accent-dark: #2377d7;
$color-accent: #4a90e2;
$color-accent-light: #77ace9;
$color-accent-lighter: #a3c6f0;
$color-secondary-darker: #797c7c;
$color-secondary-dark: #939595;
$color-secondary: #adaeae;
$color-secondary-light: #c6c7c7;
$color-secondary-lighter: #e0e1e1;
$color-tertiary-darker: #370111;
$color-tertiary-dark: #680320;
$color-tertiary: #9a042f;
$color-tertiary-light: #cc053e;
$color-tertiary-lighter: #f90b4f;
$color-info-darker: #1b5faa;
$color-info-dark: #2377d7;
$color-info: #4a90e2;
$color-info-light: #77ace9;
$color-info-lighter: #a3c6f0;
$color-black: #1c1c21;
$color-black-light: #34343d;
$color-white: #fff;
$color-warning-darker: #d1a000;
$color-warning-dark: #ffc505;
$color-warning: #ffd138;
$color-warning-light: #ffdc6b;
$color-warning-lighter: #ffe89e;
$color-success-darker: #568830;
$color-success-dark: #6eae3d;
$color-success: #88c559;
$color-success-light: #a3d27f;
$color-success-lighter: #bedfa4;
$color-error-darker: #c70a1a;
$color-error-dark: #f31224;
$color-error: #f54251;
$color-error-light: #f8727e;
$color-error-lighter: #faa3aa;
$color-yellow-darker: #998f00;
$color-yellow-dark: #ccbe00;
$color-yellow: #fe0;
$color-yellow-light: #fff133;
$color-yellow-lighter: #fff566;
$color-bg: #fff;
$color-contrast-lower: #f2f2f2;
$color-contrast-low: #d3d3d4;
$color-contrast-medium: #79797c;
$color-contrast-high: #313135;
$color-contrast-higher: #1c1c21;

// Typography
$font-primary: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-secondary: Roboto,serif;
$font-monospace: SFMono-Regular, "Space Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$text-base-size: 1em;

:root, [data-theme=default] {
    --color-primary-darker: #750019;
    --color-primary-dark: #a80024;
    --color-primary: #db0030;
    --color-primary-light: #ff0f43;
    --color-primary-lighter: #ff426b;
    --color-accent-darker: #998f00;
    --color-accent-dark: #ccbe00;
    --color-accent: #fe0;
    --color-accent-light: #fff133;
    --color-accent-lighter: #fff566;
    --color-secondary-darker: #797c7c;
    --color-secondary-dark: #939595;
    --color-secondary: #adaeae;
    --color-secondary-light: #c6c7c7;
    --color-secondary-lighter: #e0e1e1;
    --color-tertiary-darker: #370111;
    --color-tertiary-dark: #680320;
    --color-tertiary: #9a042f;
    --color-tertiary-light: #cc053e;
    --color-tertiary-lighter: #f90b4f;
    --color-info-darker: #85c5e5;
    --color-info-dark: #afd9ee;
    --color-info: #d9edf7;
    --color-info-light: #eaf5fb;
    --color-info-lighter: #fff;
    --color-black: #1c1c21;
    --color-black-light: #34343d;
    --color-white: #fff;
    --color-warning-darker: #d1a000;
    --color-warning-dark: #ffc505;
    --color-warning: #ffd138;
    --color-warning-light: #ffdc6b;
    --color-warning-lighter: #ffe89e;
    --color-success-darker: #568830;
    --color-success-dark: #6eae3d;
    --color-success: #88c559;
    --color-success-light: #a3d27f;
    --color-success-lighter: #bedfa4;
    --color-error-darker: #c70a1a;
    --color-error-dark: #f31224;
    --color-error: #f54251;
    --color-error-light: #f8727e;
    --color-error-lighter: #faa3aa;
    --color-bg: #fff;
    --color-contrast-lower: #f2f2f2;
    --color-contrast-low: #d3d3d4;
    --color-contrast-medium: #79797c;
    --color-contrast-high: #313135;
    --color-contrast-higher: #1c1c21;
}
[data-theme=invert] {
    --color-bg: hsl(0, 0%, 13%);
    --color-contrast-lower: hsl(0, 0%, 16%);
    --color-contrast-low: hsl(0, 0%, 25%);
    --color-contrast-medium: hsl(0, 0%, 57%);
    --color-contrast-high: hsl(0, 0%, 89%);
    --color-contrast-higher: hsl(0, 0%, 100%);
}
:root {
    --radius: 0.25em;
    --shadow-sm: 0 1px 1px rgba(0,0,0,.2),0 1px 8px rgba(0,0,0,.1);
    --shadow-md: 0 1px 8px rgba(0,0,0,.1),0 8px 24px rgba(0,0,0,.15);
    --shadow-lg: 0 1px 8px rgba(0,0,0,.1),0 16px 48px rgba(0,0,0,.1),0 24px 60px rgba(0,0,0,.1);
    --transition-bounce: cubic-bezier(0.175,0.885,0.32,1.275);
    --transition-ease-in-out: cubic-bezier(0.645,0.045,0.355,1);
    --transition-ease-in: cubic-bezier(0.55,0.055,0.675,0.19);
    --transition-ease-out: cubic-bezier(0.215,0.61,0.355,1);
    --font-primary: Roboto,sans-serif;
    --font-secondary: Merriweather,serif;
    --font-monospace: Space Mono,monospace;
    --text-base-size: 1em;
    --text-scale-ratio: 1.414;
    --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --body-line-height: 1.4;
    --heading-line-height: 1.618;
    --font-primary-capital-letter: 1;
    --font-secondary-capital-letter: 1;
    --font-monospace-capital-letter: 1;

    --container-width-xs: 37.5rem;
    --container-width-sm: 45rem;
    --container-width-md: 64rem;
    --container-width-lg: 80rem;
    --container-width-xl: 90rem;

    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
    --component-padding: var(--space-md);
}
@media (min-width: 37.5rem) {
    :root {
        --space-unit: 0.85em;
        --space-xxxxs: calc(0.125 * var(--space-unit));
        --space-xxxs: calc(0.25 * var(--space-unit));
        --space-xxs: calc(0.375 * var(--space-unit));
        --space-xs: calc(0.5 * var(--space-unit));
        --space-sm: calc(0.75 * var(--space-unit));
        --space-md: calc(1.25 * var(--space-unit));
        --space-lg: calc(2 * var(--space-unit));
        --space-xl: calc(3.25 * var(--space-unit));
        --space-xxl: calc(5.25 * var(--space-unit));
        --space-xxxl: calc(8.5 * var(--space-unit));
        --space-xxxxl: calc(13.75 * var(--space-unit));
    }
}
@media (min-width: 30rem) {
    :root {
        --space-unit: 0.75em;
        --space-xxxxs: calc(0.125 * var(--space-unit));
        --space-xxxs: calc(0.25 * var(--space-unit));
        --space-xxs: calc(0.375 * var(--space-unit));
        --space-xs: calc(0.5 * var(--space-unit));
        --space-sm: calc(0.75 * var(--space-unit));
        --space-md: calc(1.25 * var(--space-unit));
        --space-lg: calc(2 * var(--space-unit));
        --space-xl: calc(3.25 * var(--space-unit));
        --space-xxl: calc(5.25 * var(--space-unit));
        --space-xxxl: calc(8.5 * var(--space-unit));
        --space-xxxxl: calc(13.75 * var(--space-unit));
    }
}


/*
Variables for trapezes card
*/
$trapeze-height: .25rem;
$trapeze-animation-duration: 0.2s;
$trapeze-color: $color-tertiary;

$header-height: 6.5rem;
$main-nav-width: 28rem;

// mobile-menu (mm) variables
$mm-breadcrumbs-height: 3.5rem;
$mm-lang-height: 3rem;
$mm-lang-width: 5.8rem;

// icons
$icon-size-base: 1em;

/*
Breakpoints
*/

$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1500px;
