<div class="press-teaser">
  <h4 class="mb-4"><time datetime="2018-01-19">19.01.2018</time></h4>
  {% for i in [1,2,3] %}
    <button
      class="collapse-title collapse-title-desktop {{ i != 1 ? 'collapsed' : ''}}"
      type="button"
      data-toggle="collapse"
      data-target="#collapse-{{i}}"
      aria-expanded="{{ i == 1 ? 'true' : 'false'}}"
      aria-controls="collapse-{{i}}"
    >
    Ultima Syriarum est Palaestina per intervalla magna
    </button>
    <div class="collapse collapse-item collapse-item-desktop {{ i == 1 ? 'show' : ''}}" id="collapse-{{i}}">
      <div class="pb-4">
        <p>At nunc si ad aliquem bene nummatum tumentemque ideo honestus advena salutatum introieris, primitus tamquam exoptatus suscipieris et interrogatus multa coactusque mentiri, miraberis numquam antea visus summatem virum tenuem te sic enixius observantem, ut paeniteat ob haec bona tamquam praecipua non vidisse ante decennium Romam.</p>
        <a class="link-pretty" href="#">Détails du communiqué</a><br>
        <a class="link-pretty" href="#">Communiqué réservé aux journalistes</a>
        <small>{% include "@atoms/icon/icon.twig" with { icon: 'lock' } %}</small>
      </div>
    </div>
  {% endfor %}
</div>
