<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Go to first page">
        {% include '@atoms/icon/icon.twig' with { icon: 'chevron-circle-left' } %}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Go to previous page">
        {% include '@atoms/icon/icon.twig' with { icon: 'chevron-left' } %}
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#" aria-current="page">
        1
        <span class="sr-only">(Current page)</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        {% include '@atoms/icon/icon.twig' with { icon: 'chevron-right' } %}
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Last page">
        {% include '@atoms/icon/icon.twig' with { icon: 'chevron-circle-right' } %}
        <span class="sr-only">Last page</span>
      </a>
    </li>
  </ul>
</nav>
