<div class="mv-tile bg-light mv-tile-xsmall text-small d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="#">MV-App name 1</a> | <a href="#">MV-App name 2</a> | <a href="#">MV-App name 3</a>
      </div>
      <div class="col-auto">
        <a href="#">dashboard &rarr;</a>
      </div>
    </div>
  </div>
</div>
