<table class="table">
  <tbody>
    {% for icon in icons %}
      <tr>
        <td><span class="{{icon}}" title="Title for accessibility"></span></td>
        <td><code>{{icon}}</code></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
