{% set pretty_name = pretty_name|default('Title for accessibility') %}
{% set icon_classes = icon_classes|default('fas') %}
{% set icon = icon|default('icons') %}
<span class="{{icon_classes}} fa-{{icon}}" title="{{pretty_name}}"></span>
