<div class="container-grid">

  <h1 class="mt-3">Support & request</h1>

  <p class="mt-3">
    The Valais Media Library’s styleguide team is committed to maintaining quality documentation of its design system. We are welcoming any feedback given on bugs, designs issues or new ideas. You can find all the <a href="#/doc/contribute--index.md" alt="Link to learn about contributing to this styleguide">information about contribution</a> in the dedicated page.
    <br>
    <br>
    MV-Styleguide is maintained by <b>eMV</b>. All requests are sent there, then dispatched to the appropriate people.
  </p>

  <div class="mt-3">
    <div class="introduction bg-gray-100">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 text-center">
            <h2>Requests</h2>
            <p>
              You have questions about MV-Styleguide?
              <br/><strong><a href="mailto:mv-webmaster@admin.vs.ch" alt="Link to send an email to the styleguide team">Email us</a></strong> or <strong><a href="https://gitlab.com/valais-media-library/mv-styleguide/issues/new" alt="Link to GitHub for opening an issue">open an issue</a></strong> in GitHub.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="mt-5">FAQ</h1>
  <p>
    We regrouped here the most common questions we get about MV-Styleguide. If you have some more, please reach out!
  </p>
  <button
    class="collapse-title collapse-title-desktop collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#collapse-1"
    aria-expanded="false"
    aria-controls="collapse-1"
    >
    How can I contribute or suggest new components/ideas?
  </button>
  <div class="collapse collapse-item collapse-item-desktop" id="collapse-1">
    <p>
      First of all, <b>thank you very much</b> for reading these lines. We really appreciate your interest into contributing to elements!
    </p>
    <p>
      For all specific informations concerning contributions, please visit the <a href="#/doc/contribute--index.md">dedicated page</a> we built about this topic, just for you.
    </p>
  </div>
  <button
    class="collapse-title collapse-title-desktop collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#collapse-2"
    aria-expanded="false"
    aria-controls="collapse-2"
    >
    Which browser versions are supported?
  </button>
  <div class="collapse collapse-item collapse-item-desktop" id="collapse-2">
    <p>
      MV-Styleguide is supporting the following browsers and versions:
      <ul>
        <li>Chrome  63, 64+</li>
        <li>Chrome for Android  64+</li>
        <li>Firefox 57, 58+</li>
        <li>Safari  10.1, 11+</li>
        <li>Safari iOS  10.3, 11+</li>
        <li>Internet Explorer 11</li>
        <li>Edge  15, 16+</li>
        <li>Opera 49, 50+</li>
      </ul>
    </p>
  </div>
  <button
    class="collapse-title collapse-title-desktop collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#collapse-3"
    aria-expanded="false"
    aria-controls="collapse-3"
    >
    Why hasn't my bug been fixed yet?
  </button>
  <div class="collapse collapse-item collapse-item-desktop" id="collapse-3">
    <p>
      If you have a pressing bug, it is best to make a Pull Request (PR) on <a href="https://gitlab.com/valais-media-library/mv-styleguide">the github repository</a> containing your suggestion of resolution for this bug. Our team will try to address your bug as soon as possible. Issues that are out of scope will be commented and closed until it becomes a higher priority. Thank you for your understanding.
    </p>
  </div>
  <button
    class="collapse-title collapse-title-desktop collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#collapse-4"
    aria-expanded="false"
    aria-controls="collapse-4"
    >
    Why is it only HTML/CSS/JS?
  </button>
  <div class="collapse collapse-item collapse-item-desktop" id="collapse-4">
    <p>
      The styleguide is Web first. We provide a CMS-agnostic or technology-agnostic design documentation. That's why you will only find components that match web standards. That doesn't mean you can't document your own project. We'll be happy to reference your work from other platforms here! Reach out to us.</p>
  </div>
  <button
    class="collapse-title collapse-title-desktop collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#collapse-5"
    aria-expanded="false"
    aria-controls="collapse-5"
    >
    What is the meaning of 42?
  </button>
  <div class="collapse collapse-item collapse-item-desktop" id="collapse-5">
    <p>
      The number 42 is, in The Hitchhiker's Guide to the Galaxy by Douglas Adams, the "Answer to the Ultimate Question of Life, the Universe, and Everything", calculated by an enormous supercomputer named Deep Thought over a period of 7.5 million years. Unfortunately, no one knows what the question is.
      <br>
      <strong>More information on <a href="https://en.wikipedia.org/wiki/42_(number)#The_Hitchhiker's_Guide_to_the_Galaxy" target="_blank">Wikipedia</a></strong></p>
  </div>

  <hr>

  <figcaption>© Valais Media Library 2018 — Mediacom</figcaption>

</div>
