<form action="#" class="cphsearch" id="searchForm" method="get" name="searchform" role="search" target="_blank">
  <label class="sr-only" for="searchTXT">Search</label>
  <div class="input-group">
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
    <div class="input-group-append">
      <select class="custom-select" id="inputGroupSelect01">
        <option value="ressources" selected>Ressources</option>
        <option value="events">Evénements</option>
        <option value="website">Site</option>
      </select>
    </div>
  </div>
</form>
