<footer class="footer" role="contentinfo">
  <div class="footer-legal">
    <div class="footer-legal-links">
      <a href="#">Accessibilité</a>
      <a href="#">Mentions légales</a>
    </div>
    <div>
      <p>Made with <span style="color: #e25555;">&hearts;</span> in Valais</p>
    </div>
    <div class="footer-legal-links">
      <a href="mailto:name@example.com?Subject=SUBJECT&amp;Body=BODY">Signaler une erreur</a>
      <a href="mailto:name@example.com?Subject=SUBJECT&amp;Body=BODY">Suggérer une amélioration →</a>
    </div>
  </div>
</footer>
