{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<footer class="footer-light" role="contentinfo">
  <div class="row">
    <div class="col-6 mx-auto mx-md-0 mb-4 col-md-3 col-lg-2">
      <a href="#">
        <img src="images/logo/logo-mv-horizontal-noir.png" alt="Logo {{companyName_fr}}" class="img-fluid">
      </a>
    </div>
    <div class="col-md-9 col-lg-10 mb-4">
      <div class="ml-md-2 ml-lg-5">
        <ul class="list-inline list-unstyled">
          <li class="list-inline-item">Contact</li>
          <li class="list-inline-item text-muted pl-3"><small>{{companyName_fr}}  CH-1950 Sion</small></li>
          <li class="list-inline-item text-gray-300 pl-3"><small>service@example.com</small></li>
          <li class="list-inline-item text-muted pl-3"><small>+41 27 606 00 00</small></li>
        </ul>
        <p class="footer-light-socials">
        {% if language == 'fr' %}
          <small>Suivez la {{companyName_fr}} sur les réseaux sociaux</small>
        {% endif %}
        {% if language == 'en' %}
          <small>Follow {{companyName_fr}} on social media</small>
        {% endif %}
          <span>
            {% include '@atoms/social-icon/social-icon-link-group.twig' with { negative: true }  %}
          </span>
        </p>
        {% include "@organisms/footer/footer-legal.twig" with { 'language': language } %}
      </div>
    </div>
  </div>
</footer>
