{% if language is not defined %}{% set language = 'fr' %}{% endif %}

{% if language == 'fr' %}
<div class="footer-legal">
  <div class="footer-legal-links">
    <a href="https://media-valais-library.gitlab.io/mv-styleguide/#/doc/accessibility.html">Accessibilité</a>
    <a href="https://www.mediatheque.ch/about/overview/fr/reglements-et-directives/">Mentions légales</a>
  </div>
  <div>
    <p>&copy; 2019 {{companyName_fr}}</p>
  </div>
</div>
{% endif %}
{% if language == 'en' %}
<div class="footer-legal">
  <div class="footer-legal-links">
    <a href="https://valais-media-library.gitlab.io/mv-styleguide/#/doc/accessibility.html">Accessibility</a>
    <a href="https://www.mediatheque.ch/">Legals</a>
  </div>
  <div>
    <p>&copy; 2019 {{companyName_fr}}</p>
  </div>
</div>
{% endif %}
