{% if language is not defined %}{% set language = 'fr' %}{% endif %}

{% if language == 'fr' %}
<p class="footer-title footer-title-no-underline">Contact</p>
<a href="mailto:service@example.com" class="btn btn-secondary btn-sm">E-mail: service@example.com</a>
<a href="tel:+41276060000" class="btn btn-secondary btn-sm">Tél. : +41 27 606 0000</a>
{% endif %}

{% if language == 'en' %}
<p class="footer-title footer-title-no-underline">Contact</p>
<a href="mailto:service@example.com" class="btn btn-secondary btn-sm">E-mail: service@example.com</a>
<a href="tel:+41276060000" class="btn btn-secondary btn-sm">Tél.: +41 27 606 0000</a>
{% endif %}
