@charset 'utf-8';

.form-control {
  transition:
    color 0.3s,
    border-color 0.3s,
    outline 0.3s,
    box-shadow 0.3s;

  &:hover,
  &.hover {
    border-color: $gray-600;
  }

  &:focus,
  &.focus {
    border-color: $input-focus-border-color !important;
    box-shadow: $input-focus-box-shadow !important;
  }

  &.is-invalid {
    border-color: $form-feedback-invalid-color !important;
    font-weight: 700;
  }

  &:disabled,
  &.disabled {
    color: $gray-600;
    border-color: $gray-200 !important;
    cursor: not-allowed;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}
