
{% include '@molecules/access-nav/access-nav.twig' %}

{% block fullintro %}{% endblock %}

{% include '@molecules/nav-inter/nav-inter.twig' %}

{% block header %}
<div class="mb-5">
  {% include '@organisms/navbar/navbar-app.twig' %}
</div>
{% endblock %}

<div class="main-container">

    {% block nav %}
      {% include '@organisms/nav-main/nav-main.twig' %}
    {% endblock %}

    <div class="w-100">

      {% block main %}
        <main id="main" role="main" class="content {% block grid %}container-grid{% endblock %}">
          {% block content %}{% endblock %}
        </main>
      {% endblock %}

    </div>

  {% block footer_container %}
  <div class="pt-5 pb-5">
    <div class="container">
      {% block footer %}
        {% include '@organisms/footer/footer-app.twig' %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  </div>
</div>
