@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto:400,400i,700,700i|Space+Mono');

// init:
@import '../config/mixins';
@import '../config/variables';
@import '../config/bootstrap';
@import '../config/typography';
@import '../config/layout';
@import '../config/helpers';
@import '../../node_modules/tablesaw/src/tables.stack-mixin.scss';

// Don't edit the following sections, they should always be preceded by a blank
// line and have exactly those names for the `$ yo toolbox:generate` command
// to work


//
// atoms:
@import 'atoms/button/button';
@import 'atoms/tag/tag';
@import 'atoms/alert/alert';
@import 'atoms/checkbox/checkbox';
@import 'atoms/collapse/collapse';
@import 'atoms/drawer/drawer';
@import 'atoms/icon/icon';
@import 'atoms/input/input';
@import 'atoms/nav-lang/nav-lang';
@import 'atoms/nav-toggle-mobile/nav-toggle-mobile';
@import 'atoms/link/link';
@import 'atoms/list/list';
@import 'atoms/picture/picture';
@import 'atoms/radio/radio';
@import 'atoms/select/select';
@import 'atoms/separator/separator';
@import 'atoms/social-icon/social-icon';
@import 'atoms/upload/upload';
@import 'atoms/video/video';
@import 'atoms/dropdown/dropdown';
@import 'atoms/nav-toggle/nav-toggle';
@import 'atoms/popover/popover';
@import 'atoms/trapeze/trapeze';
@import 'atoms/definition-list/definition-list';
@import 'atoms/figure/figure';
@import 'atoms/loader/loader';
@import 'atoms/favicon/favicon';
@import 'atoms/block/block';
@import 'atoms/tile/tile';

//
// molecules:
@import 'molecules/search/search';
@import 'molecules/access-nav/access-nav';
@import 'molecules/avatar-teaser/avatar-teaser';
@import 'molecules/card/card';
@import 'molecules/datepicker/datepicker';
@import 'molecules/datepicker/datepicker-fancy';
@import 'molecules/footnotes/footnotes';
@import 'molecules/sidenotes/sidenotes';
@import 'molecules/form-group/form-group';
@import 'molecules/gallery/gallery';
@import 'molecules/list-group/list-group';
@import 'molecules/social-feed/social-feed';
@import 'molecules/breadcrumb/breadcrumb';
@import 'molecules/filters/filters';
@import 'molecules/links-group/links-group';
@import 'molecules/sponsor/sponsor';
@import 'molecules/map/map';
@import 'molecules/cover/cover';
@import 'molecules/pagination/pagination';
@import 'molecules/question/question';
@import 'molecules/share/share';
@import 'molecules/tables/tables';
@import 'molecules/tabs/tabs';
@import 'molecules/collapse-group/collapse-group';
@import 'molecules/card-deck/card-deck';
@import 'molecules/key-number/key-number';
@import 'molecules/quote/quote';
@import 'molecules/metabox/metabox';
@import 'molecules/nav-inter/nav-inter';

//
// organisms:
@import 'organisms/card-slider/card-slider';
@import 'organisms/fullwidth-teaser/fullwidth-teaser';
@import 'organisms/nav-main/nav-main';
@import 'organisms/nav-aside/nav-aside';
@import 'organisms/contact/contact';
@import 'organisms/footer/footer';
@import 'organisms/form/form';
@import 'organisms/footer/footer-light';
@import 'organisms/header/header';
@import 'organisms/hero/hero';
@import 'organisms/introduction/introduction';
@import 'organisms/newsletter-sign-up/newsletter-sign-up';
@import 'organisms/restauration/restauration';
@import 'organisms/social-feed-group/social-feed-group';
@import 'organisms/headlines/headlines';
@import 'organisms/key-number-group/key-number-group';
@import 'organisms/cookie-consent/cookie-consent';
@import 'organisms/navbar/navbar';

//
// content-types:
@import 'content-types/event/event';
@import 'content-types/news/news';
@import 'content-types/publication/publication';
@import 'content-types/science-question/science-question';
@import 'content-types/press-review/press-review';
@import 'content-types/service/service';
