@charset 'utf-8';

$bullet-size: $spacer * 0.8;

.list-bullet {
  padding-left: 0;
  margin-left: -0.7rem;

  li {
    list-style-type: none;
    padding-left: $spacer;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0.7rem;
      right: calc(100% - 0.5rem);
      width: 5px;
      height: 5px;
      background: $red;
      font-size: 1.1rem;
      line-height: $bullet-size;
    }
  }

  &.list-unstyled {
    margin-left: 0;
    li:before { display: none; }
  }

  ul { padding-left: 0; }
  ul li:before {
    background: transparent;
    border: 1px solid $red;
  }
  ul ul li:before {
    background: $red;
    border: none;
  }
}

.list-numbered {
  counter-reset: item;
  padding-left: 0;
  margin-left: -0.9rem;

  li {
    list-style-type: none;
    padding-left: $spacer;
    position: relative;

    &:before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      top: 0.3rem;
      right: calc(100% - 0.5rem);
      font-size: 0.8rem;
      font-weight: $font-weight-bold;
      color: $red;
    }
  }

  ol {
    counter-reset: secondary-item;
    padding-left: 0;
  }
  ol ol { counter-reset: third-item; }

  ol li:before {
    content: counter(item) "." counter(secondary-item);
    counter-increment: secondary-item;
    font-weight: $font-weight-normal;
  }

  ol ol li:before {
    content: counter(item) "." counter(secondary-item) "." counter(third-item);
    counter-increment: third-item;
  }
}

.list-steps {
  counter-reset: list-steps-counter;
  padding-left: 0;
  margin-left: -0.9rem;

  li {
    list-style-type: none;
    padding-left: 2.5 * $spacer;
    padding-bottom: $spacer;
    position: relative;
    line-height: normal;

    &:before {
      content: counter(list-steps-counter);
      counter-increment: list-steps-counter;
      position: absolute;
      top: -3px;
      margin-left: (-1.5 * $spacer);
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
      color: $color-black;
    }
  }

  ol {
    counter-reset: list-steps-secondary-item;
    padding-left: 0;
  }
  ol ol { counter-reset: list-steps-third-item; }
  ol li,
  ol ol li {
    padding-bottom: $spacer / 1.5 ;
    }
  ol li:before {
    content: counter(list-steps-secondary-item);
    counter-increment: list-steps-secondary-item;
    top: 0px;
    font-size: 1rem;
    font-weight: $font-weight-normal;
  }

  ol ol li:before {
    content: counter(list-steps-third-item);
    counter-increment: list-steps-third-item;
  }
}
