<p><strong class="pr-3">Vanilla link:</strong> <a href="https://mediatheque.ch">Circa hos dies</a></p>
<p><strong class="pr-3">Pretty link:</strong> <a class="link-pretty" href="https://mediatheque.ch">Circa hos dies</a></p>
<p class="mt-4"><strong class="pr-3">Dark link:</strong> <span class="p-3 bg-dark"><a class="text-white" href="https://mediatheque.ch">Circa hos dies</a></span></p>
<p class="mt-4"><strong class="pr-3">Dark pretty link:</strong><span class="p-3 bg-dark"><a class="link-pretty" href="https://mediatheque.ch">Circa hos dies</a></span></p>
