@charset 'utf-8';

// Variables
// ========================================================================

$block-info-background-color:           #d6eaff !default;
$block-example-background-color:        #fff9c4 !default;
$block-warning-background-color:        #ffdcd6 !default;
$block-definition-background-color:     #d8e0e7 !default;
$block-fact-background-color:           #b2f1e7 !default;

$block-font-title-size:                 1.125em !default;
$block-font-title-color:                $color-black-light !default;

/* ========================================================================
Block
========================================================================== */

.mv-block {
   margin-bottom: 2em;
   padding: 2em;
   box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);

   p:last-child, ul:last-child {
      margin-bottom: 0;
   }
}
/* Title
========================================================================== */
.mv-block-title {
   font-size: $block-font-title-size;
   font-weight: 600;
   color: $block-font-title-color;
   padding-bottom: .1em;

   p:last-child,
   ul:last-child {
      margin-bottom: 0;
   }
}

/* Type
========================================================================== */
.mv-block-info {
   background-color: $block-info-background-color;
}
.mv-block-example {
   background-color: $block-example-background-color;
}
.mv-block-warning {
   background-color: $block-warning-background-color;
}
.mv-block-definition {
   background-color: $block-definition-background-color;
}
.mv-block-fact {
   background-color: $block-fact-background-color;
}

/* Caption
========================================================================== */
.mv-block-caption {
   display: block;
   font-weight: 600;
   padding-bottom: .5em;
}

/* ========================================================================
Counter
========================================================================== */
/* Increment
========================================================================== */
.mv-block-example .mv-block-caption-number:before {
   counter-increment: block-example;
   content: " " counter(block-example);
}
.mv-block-info .mv-block-caption-number:before {
   counter-increment: block-info;
   content: " " counter(block-info);
}
.mv-block-warning .mv-block-caption-number:before {
   counter-increment: block-warning;
   content: " " counter(block-warning);
}
.mv-block-definition .mv-block-caption-number:before {
   counter-increment: block-definition;
   content: " " counter(block-definition);
}
.mv-block-fact .mv-block-caption-number:before {
   counter-increment: block-fact;
   content: " " counter(block-fact);
}
/* Reset
========================================================================== */
body {
   counter-reset: block-example block-info block-warning;
}
