<div class="mv-block mv-block-definition">
  <div class="mv-block-caption">Definition<span class="mv-block-caption-number"></span></div>
  <div class="mv-block-title">Heading</div>
  Lorem ispum
</div>
