<nav class="navbar navbar-expand-lg bg-tertiary mv-navbar-app">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="images/logo/logo-mv-square.svg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
      MV-App
    </a>
    <div class="btn btn-outline-white nav-toggle-mobile d-lg-none">
      Menu
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-6 mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <div class="btn-group btn-group-sm" role="group" aria-label="Navigation shortcut">
        <a href="#" class="btn p-2">{% include '@atoms/icon/icon.twig' with { icon: 'plus' } %}</a>
        <a href="#" class="btn p-2">{% include '@atoms/icon/icon.twig' with { icon: 'question-circle' } %}</a>
        <a href="#" class="btn p-2">{% include '@atoms/icon/icon.twig' with { icon: 'sign-out-alt' } %}</a>
        <a href="#" class="btn p-2">{% include '@atoms/icon/icon.twig' with { icon: 'sliders-h' } %}</a>
      </div>
    </div>
  </div>
</nav>
