@charset 'utf-8';

.mv-navbar {
	justify-content: flex-start;
	padding: 0;
	color: $color-black;
	border-top: solid 1px $color-secondary;
	border-bottom: solid 1px $color-secondary;
	.navbar-nav a.nav-link,
	.navbar-toggler {
		color: $color-black;
		//text-transform: uppercase;
	}
	.mv-navbar-nav-container {
		margin: 0 3rem;
		padding: 0;
	}
	.navbar-collapse {
		justify-content: flex-start;
	}
	.navbar-toggler {
		border: none;
	}
	.mv-navbar-nav {
		a.nav-link {
			padding: .5rem 1rem;
			font-size: 1rem;
			font-weight: 700;
			text-decoration: none;
			color: $color-contrast-high;
			border-top: 2px solid transparent;
			&:hover,
			&:focus,
			&.active,
			&[aria-expanded="true"],
			&.current-menu-item {
				text-decoration: none;
				color: $color-primary;
				border-top: 2px solid $color-primary;
			}
			&.dropdown-toggle:after {
				content: none;
			}
		}
		.dropdown-menu {
			padding: .5rem 2rem 2rem 2rem;
			background-color: $color-contrast-lower;
			border: none;
			list-style-type: disc;
			min-width: max-content;
			max-width: var(--container-width-xs);
			ul {
				padding-left: 0;
			}

			li {
				margin-left: 1rem;
				color: $color-primary;
			}
			@include border-radius(0 0 .25rem .25rem);

			a.nav-link {
				border-top: none;
				padding: 0;
				font-size: 1rem;
				line-height: 2.75rem;
				//font-weight: $f_semiBold;
				color: $color-black;
				white-space: nowrap;
			}
		}
		.two-col.dropdown .dropdown-menu ul {
			columns: 2;
			column-width: auto;
			column-fill: balance;
		}
		.three-col.dropdown .dropdown-menu ul {
			columns: 3;
			column-width: auto;
			column-fill: balance;
		}
	}
}
.bg-navy {
	a.nav-link {
		color: $color-white;
	}
}
.bg-dark {
	a.nav-link {
		color: $color-white;
	}
}

@include media-breakpoint-down(lg){
	.navbar.mv-header-top {
		.navbar-brand {
			padding: 0 .5rem;
		}
		.right .search-wrap {
			margin: 0 10px 0 0;
		}
	}
}

@include media-breakpoint-down(lg) {
	.mv-navbar {
		border-top: none;
		border-bottom: none;
		margin: 0 6rem;
	}
}

.mv-navbar-app {
	color: $color-white;

	a {
		color: $color-white;
		text-decoration: none;
	}
	a.dropdown-item {
		color: $color-black;
	}
	a.disabled {
		color: $color-secondary;
	}
	.navbar-brand {
		font-weight: 700;
	}
	.navbar-toggler {
		color: $color-white;
	}
}
