{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<nav class="navbar navbar-expand-lg navbar-bottom bg-white mv-navbar">
	<div class="d-none d-xl-block mv-navbar-nav-container">
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mv-navbar-nav">
				{% for n in navbar %}
				<li id="menu-item-{{ loop.index }}" class="{% if n.dropdown %}dropdown {% endif %}{% if n.columns == 'two' %}two-col{% endif %}">
					{% if language == 'fr' %}
					<a class="nav-link{% if n.dropdown %} dropdown-toggle{% endif %}{% if loop.index == 2 %} current-menu-item {% endif %}" {% if n.dropdown %}data-toggle="dropdown"{% endif %} href="#" title="{{ n.namefr }}">{{ n.namefr }}{% if n.dropdown %} <i class="fas fa-angle-down"></i>{% endif %}</a>
					{% if n.childrens %}
					<div class="dropdown-menu" role="menu">
					<ul>
						{% for c in n.childrens %}
						<li class="">
							<a class="nav-link" href="{{ c.urlfr }}" title="{{ c.nameen }}">{{ c.namefr }}</a>
						</li>
						{% endfor %}
					</ul>
					{% if n.more %}
					<div class="d-block mt-2">
						<a class="btn btn-block btn-sm btn-primary" href="{{ n.more.urlfr }}" title="{{ n.more.nameen }}">{{ n.more.namefr }}</a>
					</div>
					{% endif %}
					{% if n.suggest %}
					<div class="d-block mt-2">
						<a class="btn btn-block btn-sm btn-secondary" href="{{ n.suggest.urlfr }}" title="{{ n.suggest.nameen }}">{{ n.suggest.namefr }}</a>
					</div>
					{% endif %}
				</div>
					{% endif %}
					{% endif %}
					{% if language == 'en' %}
					<a class="nav-item" href="{{ n.urlen }}">{{ n.nameen }}</a>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% include '@atoms/nav-lang/nav-lang-short.twig' %}
</nav>
