{% extends "@templates/app/app.twig" %}

{% block content %}
  <h1 class="mb-5">H1 - Basic page</h1>

  <p>This is a simple paragraph directly in the WYSIWYG editor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur deleniti doloremque eveniet libero minima neque repudiandae sequi suscipit vitae. Ab corporis doloremque earum eius illo incidunt ipsa magnam molestias, nam, necessitatibus neque porro quaerat repellendus tenetur unde velit veritatis? Aliquam amet aut cumque distinctio dolor dolore ducimus eaque est eveniet excepturi explicabo fugit illum inventore iure labore libero magnam minima pariatur provident quam quasi quo, recusandae rem repudiandae sapiente sunt voluptate voluptates! Asperiores, assumenda atque aut eos est in maiores nemo omnis perferendis, quam recusandae rem saepe sint! Consequuntur doloribus dolorum iste, optio placeat rerum. Dolor quis repudiandae soluta?</p>

    <div class="container mt-5">
      <h2>Choices</h2>
      <div class="row">
        {% for i in [1,2,3] %}
          <div class="col-sm-6 col-lg-4">
            {% include "@content-types/service/service.twig" %}
          </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}
