<nav aria-label="breadcrumb" class="breadcrumb-wrapper" id="breadcrumb-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">
        {% include '@atoms/icon/icon.twig' with { icon: 'home', pretty_name: 'Home' } %}
      </a>
    </li>
    <li class="breadcrumb-item breadcrumb-tags-wrapper">
      <a href="#" class="tag tag-primary">Quanta</a>
      <a href="#" class="tag tag-primary">Autem</a>
      <a href="#" class="tag tag-primary">Intellegi</a>
    </li>
    <li class="breadcrumb-item"><a href="#">Quanta</a></li>
    <li class="breadcrumb-item"><a href="#">Autem</a></li>
    <li class="breadcrumb-item"><a href="#">Intellegi</a></li>
    <li class="breadcrumb-item active" aria-current="page">Paucos</li>
  </ol>
</nav>
