<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">
        {% include '@atoms/icon/icon.twig' with { icon: 'home', pretty_name: 'Home' } %}
      </a>
    </li>
    <li class="breadcrumb-item"><a href="#">Quanta</a></li>
    <li class="breadcrumb-item active" aria-current="page">Autem</li>
  </ol>
</nav>
