<div class="text-center mt-3 mb-5">
  <h1>Design principles</h1>
  <p>MV-Styleguide is the living design documentation of Valais Media Library digital ecosystem</p>
</div>

<div class="container my-5 mb-5">
  <hr>
</div>

<div class="container my-5 mb-5">
  <h2>Our 3 design principles</h2>
  <p>Our goal is to grow a single design system that supports a unified experience across all of Valais Media Library platforms. To achieve this, we articulate our design desicions based on 3 master principles:</p>
  <div class="card-deck">
    <div class="card">
      <picture class="card-img-top">
        <img src="./images/styleguide/illustrations/animation-clarity.gif" class="img-fluid" title="Clarity principle" alt="A diamond that dispatch its sparkles" />
      </picture>
      <div class="card-body">
        <h3>Clarity</h3>
        <p>Our message is clear & understood. Clarity comes through intentional choices that support our values. Accessibility requires clarity.</p>
      </div>
    </div>
    <div class="card">
      <picture class="card-img-top">
        <img src="./images/styleguide/illustrations/animation-balance.gif" class="img-fluid" title="Balance principle" alt="A pendulum indicating the equilibrium of things" />
      </picture>
      <div class="card-body">
        <h3>Balance</h3>
        <p>We serve our own diversity. Balance comes from rational decisions on what we know and what we communicate. We seek harmony.</p>
      </div>
    </div>
    <div class="card">
      <picture class="card-img-top">
        <img src="./images/styleguide/illustrations/animation-modularity.gif" class="img-fluid" title="Modularity principle" alt="A square made of building blocks" />
      </picture>
      <div class="card-body">
        <h3>Modularity</h3>
        <p>Building blocks form or design system. We achieve consistency using those blocks. This versatility is the echo of our capacity to innovate.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-lg-6 mb-3">
      <h2>3, III, Trois, Three</h2>
      <img src="./images/styleguide/illustrations/three.png" class="img-fluid mb-3" title="Modularity principle" alt="A square made of building blocks" />
      <p>It is our goto number: it evoques our 3 missions: <strong>Education</strong>, <strong>Research</strong> & <strong>Innovation</strong>. Pronounced the French way, it sounds like “free“.</p>
    </div>
    <div class="col-lg-6 mb-3">
      <h2>Atomic approach</h2>
      <img src="./images/styleguide/illustrations/atomic-design-teaser.png" class="img-fluid mb-3" title="Modularity principle" alt="A square made of building blocks" />
      <p>MV-Styleguide component hierarchy is based on the <a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">Atomic Design approach</a>. User interface elements are construction bricks of various size and complexity.</p>
    </div>
  </div>
</div>

<div class="container my-5 mb-5">
  <hr>
</div>
