<div class="container">
  <h1 class="my-2">Typography</h1>

  <p class="mt-5">
    Element use the <strong><a href="https://fonts.google.com/specimen/Open+Sans">Open Sans</a></strong> font familly directly from <a href="https://fonts.google.com/">Google Fonts</a>.
  </p>

  <div class="row my-5">
    <div class="col-lg-6">
      <p><strong>Paragraph</strong> <small>— <strong>18px</strong> (1rem) / line-height 1.50</small></p>
      <p>
        The ship landed in a medley of noises. There was the far-off hiss of the atmosphere cutting and sliding past the metal of the ship. There was the steady drone of the conditioners fighting the heat of friction, and the slower rumble of the engines enforcing deceleration. There was the human sound of men and women gathering in the debarkation rooms and the grind of the hoists lifting baggage, mail, and freight to the long axis of the ship, from which they would be later moved along to the unloading platform.
      </p>

      <p><strong>Lead</strong> <small>— 1.33rem / line-height 1.5</small></p>
      <p class="lead">
        Gaal felt the slight jar that indicated the ship no longer had an independent motion of its own.
      </p>
    </div>
    <div class="col-lg-6">
      <p><strong>Quotes</strong> <small>— 1.28rem / line-height 1.3</small></p>

      <small>.blockquote</small>

      <blockquote class="blockquote mt-3">
        <p class="mb-0">Reality is that which, when you stop believing in it, doesn't go away.</p>
        <footer class="blockquote-footer"><cite title="Philip K. Dick">Philip K. Dick</cite>, in “I Hope I Shall Arrive Soon”, 1985</footer>
      </blockquote>

      <small>.blockquote.blockquote-fr</small>

      <blockquote class="blockquote blockquote-fr mt-3">
        <p class="mb-0">La réalité, c'est ce qui continue d'exister lorsqu'on a cessé d'y croire.</p>
        <footer class="blockquote-footer"><cite title="Philip K. Dick">Philip K. Dick</cite>, dans “Le Souvenir qui venait du froid”, 1985</footer>
      </blockquote>

      <p class="mt-5"><strong>Image caption</strong> <small>— 0.883rem / line-height 1.266</small></p>
      <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg-6">
      <p><strong>Titles</strong></p>

      <small>h1 — 3rem / line-height 1.111</small>
      <h1 class="mb-5">The Story of Typewriters</h1>

      <small>h2 — 2.33rem / line-height 1.2</small>
      <h2 class="mb-5">In the Country of the Last Things</h2>

      <small>h3 — 1.78rem / line-height 1.35</small>
      <h3 class="mb-5">Standardizing perovskite aging measurements</h3>

      <small>h4 — 1.44rem / line-height 1.35</small>
      <h4 class="mb-5">The Swiss Team has won the Solar Decathlon competition</h4>

      <small>h5 — 1.17rem / line-height 1.4</small>
      <h5 class="mb-5">The strength of the Swiss team consists in its multidisciplinary cohesion</h5>

      <small>h6 — 1rem / line-height 1.5</small>
      <h6>This project also provided the students with a unique, unforgettable, and inspirational learning opportunity</h6>
    </div>
    <div class="col-lg-6">
      <p><strong>Inline text elements</strong></p>

      <p>You can use the mark tag to <mark>highlight</mark> text.</p>
      <p><del>This line of text</del> is meant to be treated as deleted text.</p>
      <p><s>This line of text</s> is meant to be treated as no longer accurate.</p>
      <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
      <p><u>This line of text will render as underlined</u></p>
      <p><small>This line of text is meant to be treated as fine print.</small></p>
      <p><strong>This line rendered as bold text.</strong></p>
      <p><em>This line rendered as italicized text.</em></p>
      <p><abbr title="Abbreviation">Abbr</abbr title="attribute"> is a solution to propose extra information about a term</p>

      <p class="mt-5"><strong>Sidenotes</strong></p>
      <article>
        <div class="row">
          <div class="col-sm-7">
            <p>If you want to know more about this <a href="#topic" aria-describedby="sidenote-label" id="topic-ref">topic</a> or if you want to read additional information in the sidebar, please use the sidenotes.</p>
          </div>
          <div class="col-sm-4 ml-auto">
            <aside>
              <h2 class="sr-only" id="sidenote-label">Sidenotes</h2>
              <ol>
                <li id="topic">Topic: a matter dealt with in a text, discourse, or conversation; a subject.</li>
              </ol>
            </aside>
          </div>
        </div>
      </article>

      <p class="mt-5"><strong>Footnotes</strong></p>
      <article>
        <p>If you want to know more about this <a href="#topic" aria-describedby="footnote-label" id="topic-ref">topic</a> or if you want to read the full study about this research, please refer to the note at the end of the article.</p>

        <footer>
          <h2 class="sr-only" id="footnote-label">Footnotes</h2>
          <ol>
            <li id="topic">Topic: a matter dealt with in a text, discourse, or conversation; a subject. Synonyms:	subject, subject matter, theme, issue, matter, point, talking point, question, concern, argument, discussion, thesis, text, concept, field, area, keynote, leitmotif. <a href="#topic-ref" class="back-to-content" aria-label="Back to content">&#8617;</a></li>
          </ol>
        </footer>
      </article>

    </div>
  </div>

  <hr>
  <p class="mt-5"><strong>Links</strong></p>

  <div class="row">
    <div class="col-sm-2 pb-1">
      <small>Unvisited (:link)</small><br>
      <a class="link-pretty" href="http://bit.ly/2DLIPLo">Martinus agens illas</a>
    </div>
    <div class="col-sm-2 pb-1">
      <small>Visited (:visited)</small><br>
      <a class="link-pretty" href="#" class="visited">Martinus agens illas</a>
    </div>
    <div class="col-sm-2 pb-1">
      <small>Hover (:hover)</small><br>
      <a class="link-pretty" href="#" class="hover">Martinus agens illas</a>
    </div>
    <div class="col-sm-2 pb-1">
      <small>Focus (:focus)</small><br>
      <a class="link-pretty" href="#" class="focus">Martinus agens illas</a>
    </div>
    <div class="col-sm-4 pb-1">
      <small>Active (always + focus) (:active, :focus)</small><br>
      <a class="link-pretty" href="#" class="active focus">Martinus agens illas</a>
    </div>
  </div>

  <div class="row bg-dark mt-3 mb-5">
    <div class="col-sm-2 py-4">
      <a class="text-white link-pretty" href="http://bit.ly/2DLIPLo">Fuerit toto in consulatu</a>
    </div>
    <div class="col-sm-2 py-4">
      <a class="text-white link-pretty" href="#" class="visited">Martinus agens illas</a>
    </div>
    <div class="col-sm-2 py-4">
      <a class="text-white link-pretty" href="#" class="hover">Martinus agens illas</a>
    </div>
    <div class="col-sm-2 py-4">
      <a class="text-white link-pretty" href="#" class="focus">Martinus agens illas</a>
    </div>
    <div class="col-sm-4 py-4">
      <a class="text-white link-pretty" href="#" class="active focus">Martinus agens illas</a>
    </div>
  </div>
  <hr>

  <p class="mt-5"><strong>Lists</strong></p>

  <div class="row mb-5">
    <div class="col-sm-6">
      <small>Bulleted multi-level</small>

      <p class="mt-3">
        Martinus agens illas provincias pro praefectis aerumnas innocentium graviter gemens saepeque obsecrans, ut ab omni culpa inmunibus.
      </p>

      <ul class="list-bullet">
        <li>History</li>
        <li>Admission and education</li>
        <li>Rankings</li>
        <li>
          Campus
          <ul>
            <li>Buildings</li>
            <li>Facilities</li>
            <li>Satellite campuses</li>
            <li>Language Centre</li>
          </ul>
        </li>
        <li>Students and traditions</li>
        <li>Valais Media Library Alumni network</li>
        <li>Scientific partners</li>
        <li>Organization</li>
        <li>Notable affiliates</li>
        <li>Gallery</li>
        <li>External links</li>
      </ul>
      <p>
        Martinus agens illas provincias pro praefectis aerumnas innocentium graviter gemens saepeque obsecrans, ut ab omni culpa inmunibus.
      </p>
    </div>
    <div class="col-sm-6">
      <small>Ordered multi-level</small>

      <p class="mt-3">
        Martinus agens illas provincias pro praefectis aerumnas innocentium graviter gemens saepeque obsecrans, ut ab omni culpa inmunibus.
      </p>

      <ol class="list-numbered">
        <li>History</li>
        <li>Admission and education</li>
        <li>Rankings</li>
        <li>
          Campus
          <ol>
            <li>Buildings</li>
            <li>Facilities</li>
            <li>Satellite campuses</li>
            <li>Language Centre</li>
          </ol>
        </li>
        <li>Students and traditions</li>
        <li>Valais Media Library Alumni network</li>
        <li>Scientific partners</li>
        <li>Organization</li>
        <li>Notable affiliates</li>
        <li>Gallery</li>
        <li>External links</li>
      </ol>
      <p>
        Martinus agens illas provincias pro praefectis aerumnas innocentium graviter gemens saepeque obsecrans, ut ab omni culpa inmunibus.
      </p>
    </div>
  </div>

</div>
