{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<header class="wrapper-fluid wrapper-navbar mb-4" role="banner" >
	<nav class="navbar navbar-expand-md mv-header-top">
		<div class="container-fluid px-0">
			<h1 class="navbar-brand py-0 py-md-1 py-lg-0 mb-0">
				<a href="#" rel="home" title="Logo Médiathèque Valais">
					<img alt="Médiathèque Valais" class="d-none d-md-inline-block" height="50" onerror="this.onerror=null; this.src='images/logo/logo-mv-horizontal-noir.png'" src="images/logo/logo-mv-horizontal-noir.png">
					<img alt="Logo {{companyName_fr}}" class="d-inline-block d-md-none" height="50" onerror="this.onerror=null; this.src='images/logo/logo-mv-horizontal-noir.png'" src="images/logo/logo-mv-horizontal-noir.png">
				</a>
			</h1>
			<div class="right d-flex justify-content-end justify-content-lg-space-between">
				<div class="search-wrap d-none d-xl-flex">
					{% include '@molecules/search/search-header.twig' %}
				</div>
				<nav class="mv-nav-top">
					<ul class="text-left d-none d-xl-block">
						<li>
							<a href="#" target="_blank">{% include '@atoms/icon/icon.twig' with { icon: 'user-alt' } %}Mon Compte</a>
						</li>
						<li>
							<a href="#">{% include '@atoms/icon/icon.twig' with { icon: 'clock' } %}Horaires &amp; accès</a>
						</li>
						<li>
							<a href="#">{% include '@atoms/icon/icon.twig' with { icon: 'id-card' } %}S'inscrire</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="btn btn-subtle nav-toggle-mobile d-xl-none">
				Menu
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div><!-- .container -->
	</nav>
	{% include '@organisms/navbar/navbar.twig' %}
</header><!-- .wrapper-navbar end -->
