{% if language is not defined %}{% set language = 'fr' %}{% endif %}
{% set site_title = site_title|default('sub site name') %}
<header role="banner" class="header header-light">
  <div class="header-light-content">
    <a class="logo" href="#">
      <img src="images/logo/logo-mv-horizontal-noir.png" alt="Logo Médiathèque Valais" class="img-fluid">
    </a>
    <ul aria-hidden="true" class="nav-header d-none d-xl-flex">
      {% for head in header %}
      <li id="menu-item-{{ loop.index }}" {% if loop.index == 2 %} class="current-menu-item"{% endif %}>
        {% if language == 'fr' %}
        <a class="nav-item" href="{{ head.urlfr }}">{{ head.namefr }}</a>
        {% endif %}
        {% if language == 'en' %}
        <a class="nav-item" href="{{ head.urlen }}">{{ head.nameen }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% include '@molecules/search/search-mobile.twig' %}
    {% include '@molecules/search/search.twig' %}
    {% include '@atoms/nav-lang/nav-lang-short.twig' %}
    {% include '@atoms/nav-toggle-mobile/nav-toggle-mobile.twig' %}
  </div>
</header>
