@charset 'utf-8';

.header {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  @include media-breakpoint-up(xl) {
    justify-content: flex-start;
  }

  img {
    margin-top: 0;
    width: 110px;
  }

  .logo {
    margin: 0;
    border: none;
    background-image: none;
    margin-left: 3 * $spacer;

    &:before {
      content: none;
    }
  }

  .nav-header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    margin: 0 0 0 (3.7 * $spacer);
    padding: 0;

    li {
      display: flex;
      flex: 0 0 auto;

      a {
        position: relative;
        margin: 0;
        padding: 2rem 0.7rem;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover,
      a.open,
      a.active,
      &.active a,
      a:focus,
      &.current-menu-item a {
        color: $red;

        &:before {
          content: none;
        }

        &:after {
          opacity: 1;
        }
      }

      &:before {
        content: none;
      }
    }

    .dropdown {
      align-items: center;

      .btn {
        padding: 0.7rem;
        font-size: inherit;
        font-weight: bold;
        text-decoration: none;
      }

      .btn:before {
        top: 0 !important;
        border: none;
        border-radius: 0;
      }

      .btn:hover:before,
      .btn:focus:before {
        opacity: 1;
      }
    }

    .dropdown-item {
      padding: 0.25rem 1.25rem;
      font-weight: $font-weight-normal;
      &:after { content: none; }
      &:hover { color: $black; }
    }

    .icon { font-size: 0.9em; }
  }

  @include media-breakpoint-down (lg) {
    height: $header-height;
    max-height: $header-height;
    padding: 0 (0.9 * $spacer);

    .logo {
      margin-left: 0;
    }
  }
}

.header-light {
  padding-left: 0;
  padding-right: 0;

  .logo {
    margin-right: $spacer;
    padding-right: $spacer;
  }

  h1 {
    align-self: flex-start;
    flex: 0 1 100px;
    margin: auto 0;
    font-size: $font-size-base;
    color: theme-color('primary');
    text-transform: uppercase;
  }

  .drawer.open + .header-light-content {
    @include media-breakpoint-down(sm) {
        .nav-toggle-mobile {
          margin-right: -5rem;
          overflow: hidden;
        }
    }
  }

  .header-light-content {
    flex-grow: 1;
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      .nav-toggle-mobile {
        padding: .5rem 0.9rem;
      }
    }

    @include media-breakpoint-down(lg) {
      height: 100%;
      padding: 0.3rem 0;
      overflow: hidden;

      .logo {
        order: 1;
        margin: 0 auto 0 0;
        padding: 0;
        border: 0;
        img {
          width: 90px;
        }
      }
      .nav-toggle-mobile {
        order: 2;
        margin: 0 1rem 0 0;
        transition: margin 0.2s;
      }
      h1 {
        flex: 0 0 100%;
        margin-top: 9px;
        margin-bottom: 0;
        white-space: nowrap;
        order: 3;
      }
    }
  }

  .nav-header { margin-left: $spacer * 2; }
}

// Library
.navbar.mv-header-top {
	padding: 0 0 0;
	background: $white;
	@media(min-width: 544px) {
		padding: 0 0 0;
	}
	.navbar-brand {
		display: flex;
		flex: 0 1 auto;
		max-width: 45%;
		padding: 0 0 0 43px;
		margin-right: .5rem;
		@media (min-width: $bp-md) {
			padding: 0 35px 0 43px;
		}
		img {
			max-height: 85px;
		}
	}
	.right {
		align-self: flex-start;
		flex: 1 0 auto;
		width: 40px;
		@media( min-width: $bp-lg) {
			align-self: flex-end;
		}
		.search-wrap {
			align-self: center;
			width: 100%;
			margin: 0 37px 0 auto;
			form {
				width: 100%;
			}
		}
		.navbar-toggler {
			position: relative;
			padding: 10px 10px 10px;
			background: $color-contrast-high;
			@include border-radius( 0 0 4px 4px );
			font-size: .9rem;
			font-weight: $font-weight-bold;
			color: $white;
			margin-right: 25px;
			margin-bottom: 10px;
			z-index: 500;
			@media(min-width: $bp-md) {
				padding: 15px 15px 15px;
				font-size: 1rem;
			}
			.svg-inline--fa {
				margin-right: 0;
				font-size: 1.5em;
			}
			.fa-times {
				display: none;
			}
			&[aria-expanded='true'] {
				background-color: $color-primary;
				.fa-bars {
					display: none;
				}
				.fa-times {
					display: inline-block;
				}
			}
		}
	}
	.mv-nav-top {
		flex: 0 0 auto;
		@media (min-width: $bp-lg) {
			min-width: 200px;
		}
		a {
			display: inline-block;
			padding: .75rem .75rem;
			font-size: 1rem;
			font-weight: $font-weight-bold;
			text-decoration: none;
			color: $color-contrast-high;
			&:hover,
			&:focus,
			&.active {
				text-decoration: underline;
				color: $color-contrast-medium;
			}
			@media (min-width: $bp-md) {
				padding: .75rem 2.6875rem .75rem 1.75rem;
			}
		}
		ul {
			list-style: none;
			margin: 0 0 0 auto;
			padding: 0;
		}
		li {
			border: solid 1px $color-secondary;
			border-top: none;
			border-right: none;
			&:last-child {
				border-bottom: none;
			}
		}
		.svg-inline--fa {
			margin-right: 0;
			@media (min-width: 768px) {
				margin-right: .5rem;
			}
		}
	}
}
