<a href="#" class="card link-trapeze-horizontal">
  {% block image -%}
  <picture class="card-img-top">
    <img src="./images/styleguide/event_teaser.jpeg" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
  </picture>
  {% endblock -%}
  {% block card_body %}
  <div class="card-body">
    {% block content %}
      <h3 class="card-title">{% block title %}Startup Acceleration Workshops{% endblock %}</h3>
    {% endblock %}
  </div>
  {% endblock -%}
  {%- block card_footer %}
  {% endblock %}
</a>
