{% block card %}
  <div class="card">
    {% block image -%}
      <a href="#" class="card-img-top">
        <picture>
          <img src="./images/styleguide/event_teaser.jpeg" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu"/>
        </picture>
      </a>
    {% endblock -%}
    {% block card_body %}
    <div class="card-body">
      {% block content %}
        <div class="card-title">
          <a href="#" class="h3">{% block title %}Startup Acceleration Workshops{% endblock %}</a>
        </div>
      {% endblock %}
    </div>
    {% endblock -%}
    {%- block card_footer %}
    <div class="card-footer mt-auto">
      {% block footer %}
        <a href="#" class="btn btn-secondary btn-sm">Button</a>
      {% endblock %}
    </div>
    {% endblock %}
  </div>
{% endblock %}
