{% block card %}
<div class="card">
  {% block image -%}
  <picture class="card-img-top">
    <img src="./images/styleguide/event_teaser.jpeg" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
  </picture>
  {% endblock %}

  {% block card_body %}
  <div class="card-body">
    {% block content %}
    <p>a classic card</p>
    {% endblock %}
  </div>
  {% endblock -%}
  {%- block card_footer %}
  {% endblock %}
</div>
{% endblock %}
