<a href="#" class="card card-distinction link-trapeze-horizontal">
  {% block img %}
    <picture class="card-img-top">
      <img src="./images/styleguide/event_teaser.jpeg" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  {% endblock %}
  <div class="card-body" itemscope itemtype="http://schema.org/Article">
    <h3 class="card-title" itemprop="name">Valais Media Library Award 2017</h3>
    <p itemprop="description">Text teaser — Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis</p>
  </div>
</a>
