<a href="#" class="card link-trapeze-horizontal">
  {% block img %}
    <picture class="card-img-top">
      <img src="./images/styleguide/event_teaser.jpeg" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  {% endblock %}
  <div class="card-body" itemscope itemtype="http://schema.org/Article">
    <div class="card-header">
      <strong>Press release</strong>
      <time datetime="2018-01-31" itemprop="datePublished"><span class="sr-only">Published:</span>31.01.18</time>
    </div>
    <h3 class="card-title" itemprop="name">Text title - Mensarum enim voragines et varias voluptatum inlecebras</h3>
    <div class="card-info">
      <span>Civitatis</span>
      <span itemprop="about">Mensarum</span>
    </div>
    <p itemprop="description">Text teaser — Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis</p>
  </div>
</a>
