<a href="#" class="card link-trapeze-horizontal" itemscope itemtype="https://schema.org/NewsArticle">
  {% block img %}
    <picture class="card-img-top">
      <img src="./images/styleguide/event_teaser.jpeg" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  {% endblock %}
  <div class="card-body">
    <h3 class="card-title" itemprop="name">News title</h3>
    <div class="card-info">
      <span class="card-info-date" itemprop="datePublished" content="2017-09-11T12:00">11.09.17</span>
      <span itemprop="about">Recherche</span>
      <span itemprop="about">Prix et récompenses</span>
    </div>
    <p itemprop="description">Valais Media Library quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis</p>
  </div>
</a>
