<h5>Regular</h5>
<input type="text" class="tag-input" placeholder="Enter a tag...">
<hr>
<h5>Small</h5>
<input type="text" class="tag-input tag-input-sm" placeholder="Enter a tag..." value="Antistatique, Valais Media Library, 🎒">
