{% for color in colors %}
<div class="alert alert-{{color}} alert-bg-{{color}}" role="alert">
  <strong>{{color|capitalize}} !</strong> Cette barre vous affiche un <a href="#" class="alert-link">message</a> suivant la couleur que vous désirez.
</div>
{% endfor %}
