@charset 'utf-8';

$alert-icon-size: 2rem;
$alert-icons: (
  success: "%3Csvg viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle fill='#{$green}' cx='18' cy='18' r='18'/%3E%3Cpath stroke='#FFF' stroke-width='3' d='M10 16.976L16 23l10-10'/%3E%3C/g%3E%3C/svg%3E",
  danger: "%3Csvg viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='#{$red}' d='M24.042 0L34 9.958v14.084L24.042 34H9.958L0 24.042V9.958L9.958 0z'/%3E%3Cg stroke='#FFF' stroke-width='4'%3E%3Cpath d='M17 9v10M17 21v4'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E",
  warning: "%3Csvg viewBox='0 0 36 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M19.746 1.124l15.591 27.9A2 2 0 0 1 33.591 32H2.41a2 2 0 0 1-1.746-2.976l15.591-27.9a2 2 0 0 1 3.492 0z' fill='#{$yellow}'/%3E%3Cpath d='M18 12v10M18 24v2' stroke='#FFF' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E",
  info: "%3Csvg viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect fill='#{$blue}' width='34' height='34' rx='4'/%3E%3Cpath d='M17 25V15M17 13V9' stroke='#FFF' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E",
);

.alert {
  position: relative;
  min-height: $alert-padding-y * 2.4 + $alert-icon-size;
  padding-top: $alert-padding-y * 1.6;
  padding-left: $alert-padding-x * 2 + $alert-icon-size;
  background: $white;
  color: $body-color;

  &:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: $alert-padding-x;
    width: $alert-icon-size;
    height: $alert-icon-size;
    margin-top: $alert-icon-size * -0.5;
  }
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    border-color: $value;
    hr { border-top-color: darken($value, 5%); }
    .alert-link { color: darken($value, 10%); }
  }
}

@each $color, $value in $theme-colors {
  .alert-bg-#{$color} {
    background-color: $value;
    .alert-link {
      color: $color-white;
    }
  }
}

@each $color, $svg in $alert-icons {
  .alert-#{$color}:before {
    content: str-replace(url("data:image/svg+xml;charset=utf8," + $svg), "#", "%23");
  }
}

.close:hover { color: $red; }

.alert-bg-primary,
.alert-bg-secondary,
.alert-bg-tertiary,
.alert-bg-accent,
.alert-bg-info,
.alert-bg-dark {
  color: $color-white;
}

.alert-bg-light,
.alert-bg-white,
.alert-bg-yellow {
  .alert-link {
    color: $color-black;
  }
}
