{% include "@atoms/alert/alert.twig" %}

{% include "@atoms/alert/alert.twig" with {
  type: "info",
  content: "<strong>Information.</strong> Événement non critique, du type « le site sera en maintenance cette nuit de 02:00 à 03:00 »."
} %}

{% include "@atoms/alert/alert.twig" with {
  type: "warning",
  content: "<strong>Warning...</strong> Merci de bien tenir compte de cette information : fermeture des portes à 19:30."
} %}

{% include "@atoms/alert/alert.twig" with {
  type: "danger",
  content: "<strong>Danger !</strong> On nous signale une indisponibilité de Wi-Fi. Les autorités compétentes sont sur le coup."
} %}
