<button
  aria-hidden="true"
  type="button"
  class="btn-circle"
  data-toggle="popover"
  data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut deserunt dolorem eligendi, nemo nulla quae reprehenderit saepe sapiente similique!"
>
  {% include '@atoms/icon/icon.twig' with { icon: 'info', pretty_name: 'Open', icon_classes: 'icon fa' } %}
  {% include '@atoms/icon/icon.twig' with { icon: 'chevron-up', pretty_name: 'Close', icon_classes: 'icon fa' } %}
</button>
<p class="sr-only">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut deserunt dolorem eligendi, nemo nulla quae reprehenderit saepe sapiente similique!</p>
