{% extends "@content-types/event/event.twig" %}

{% block classes %}card card-gray card-grayscale link-trapeze-horizontal bg-gray-100{% endblock %}

{% block title %}
<span class="badge badge-dark badge-sm">Just finished</span>
Accedat huc suavitas quaedam oportet sermonum
{% endblock %}
