{% extends '@content-types/event/event.twig' %}

{% block img_src %}./images/styleguide/event_teaser_large.jpeg{% endblock %}

{% block title %}Itaque verae amicitiae difficillime reperiuntur{% endblock %}

{% block summary %}
<p>Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.</p>
{% endblock %}

{% block info %}
Lieu : <b>Laboratoire maximo</b><br>Organisé par <b>Intellectum</b><br>
{% endblock %}
