<div class="list-group">
  {% for i in 1..5 %}
    <a href="#" class="list-group-item list-group-item-gray list-group-teaser link-trapeze-vertical" itemscope itemtype="http://schema.org/Event">
      <div class="list-group-teaser-container">
        <div class="list-group-teaser-thumbnail">
          {% include '@atoms/picture/picture.twig' with {'variant':'news-thumb'} %}
        </div>
        <div class="list-group-teaser-content">
          <p class="h5 card-title" itemprop="name">Startup Acceleration Workshops</p>
          <div class="card-info mt-0">
            {% block date %}
            <span class="card-info-date" itemprop="startDate" content="2018-01-10T12:00">10.01.2018</span>
            <span class="event-time">13:00</span>
            <span class="event-time">17:30</span>
            {% endblock %}
            <p>
            <span itemprop="performer" itemscope itemtype="http://schema.org/performer">
            {% block speaker %}
              Avec <b>Prof. Dr. Aditya Mueller</b>
            {% endblock %}
            </span>
            <span itemprop="location" itemscope itemtype="http://schema.org/Place">
              <br>
              {% block info %}
              Lieu : <b><span itemprop="name">Valais Media Library</span></b>
              <br> Catégorie : <b>Événements culturel</b><br>
              {% endblock %}
            </span>
            </p>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}

  {% if bottomlink %}
    <a href="#" class="list-group-teaser-more">
      Afficher plus d'événements
    </a>
  {% endif %}
</div>
