<div class="card card-gray">
  <div class="card-body">
    {% block img %}
      <a href="#" class="card-img-top">
        <picture>
          <img src="./images/styleguide/event_teaser.jpeg" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
        </picture>
      </a>
    {% endblock %}
    <h3 class="card-title">
      <a href="#">Has autem provincias, quas Orontes ambiens amnis imosque</a>
    </h3>
    <div class="card-info">
      <span>Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis</span>
    </div>
  </div>
  <div class="card-footer mt-auto">
    <a href="#" class="btn btn-primary btn-sm">Learn more & apply</a>
  </div>
</div>
