{% set round = round ? round : false %}
{% set discrete = discrete ? discrete : false %}
{% set negative = negative ? negative : false %}
{% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Facebook', icon: 'facebook', round: round, discrete: discrete, negative: negative } %}
{% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Twitter', icon: 'twitter', round: round, discrete: discrete, negative: negative } %}
{% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Instagram', icon: 'instagram', round: round, discrete: discrete, negative: negative } %}
{% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Telegram', icon: 'telegram-plane', round: round, discrete: discrete, negative: negative } %}
{% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Whatsapp', icon: 'whatsapp', round: round, discrete: discrete, negative: negative } %}
{% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Linkedin', icon: 'linkedin', round: round, discrete: discrete, negative: negative } %}
