{% set pretty_name = pretty_name|default('Twitter') %}
{% set icon = icon|default('twitter') %}
{% set round = round ? ' social-icon-round' : '' %}
{% set discrete = discrete ? ' social-icon-discrete' : '' %}
{% set negative = negative ? ' social-icon-negative' : '' %}
<span class="{{ 'social-icon social-icon-' ~ icon ~ round ~ negative }}">
  <span class="icon fab fa-{{icon}}" title="{{pretty_name}}"></span>
</span>
