{% set pretty_name = pretty_name %}
{% set icon = icon %}
{% set round = round ? ' social-icon-round' : '' %}
{% set discrete = discrete ? ' social-icon-discrete' : '' %}
{% set negative = negative ? ' social-icon-negative' : '' %}
<span class="{{ 'social-icon social-' ~ icon ~ round ~ negative }}">
  <span class="fab fa-{{icon}}" title="{{pretty_name}}"></span>
</span>
