@charset 'utf-8';

.social-icon {
  display: inline-block;
  padding: 0.7rem;
  background: gray('100');
  border-radius: 0.17rem;
  line-height: 0;

  .icon {
    top: 0;
    font-size: 24px;
    color: $white;
  }
}

a.social-icon {
  margin-bottom: $spacer * 0.3;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    background-image 0.2s ease;

  &:hover,
  &:focus {
    transform: translateY(-0.2rem);
    box-shadow: 0;
  }
  .icon {
    color: $black;
  }
}

.social-icon-facebook {
  background-color: $facebook;
}

.social-icon-twitter {
  background-color: $twitter;
}

.social-icon-whatsapp {
  background-color: $whatsappgreen;
}

.social-icon-mail-plane {
  background-color: $blue;
}

.social-icon-googleplus {
  background-color: $googleplus;
}

.social-icon-linkedin {
  background-color: $linkedin;
}

.social-icon-youtube {
  background-color: $youtube;
}

.social-icon-youtube svg {
  transform:scale(1.3);
}

// From https://codepen.io/katydecorah/pen/PNLePj
%instagradient {
  background:
    // left bottom
    radial-gradient(circle farthest-corner at 35% 90%, $instagramyellow, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, $instagramyellow, transparent 50%),
    // left top
    radial-gradient(ellipse farthest-corner at 0 -25%, $instagramblue, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, $instagramblue, transparent 50%),
    //  right top
    radial-gradient(ellipse farthest-corner at 100% 0, $instagrampurple, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, $instagrampurple, transparent 50%),
    // right bottom
    radial-gradient(ellipse farthest-corner at 100% 100%, $instagrammagenta, transparent),
    /////// create a base coat to smooth
    /////// corner gradients
    linear-gradient($instagramblue-2, $instagrampurple-2 30%, $instagrammagenta-2 50%, $instagramorange-2 70%, $instagramyellow-2 100%);
}

.social-icon-instagram {
  @extend %instagradient;
}

.social-icon-round {
  border-radius: 100% !important;
  padding: 0.8rem;
  &:before { border-radius: 100% !important; }

  &.social-icon-instagram {
    @extend %instagradient;
  }
}

.social-icon-negative {
  padding: 0.5rem;
  background: transparent;
  transition: background 0.2s;

  .icon {
    font-size: 1.5rem;
    color: $body-color;
    transition: fill 0.2s;
  }

  &:hover {
    background: $red !important;

    .icon {
      color: $white !important;
    }
  }
}

.social-icon-discrete {
  .icon {
    transition: fill 0.2s ease;
  }

  &:not(:hover) {
    background: gray('100');

    .icon {
      color: gray('600');
    }
  }
}
a.social-icon-discrete {
  &:hover,
  &:focus {
    transform: translateY(0);
  }
}
