{% set round = round ? round : false %}
{% set discrete = discrete ? discrete : false %}
{% set negative = negative ? negative : false %}
{% include '@atoms/social-icon/social-icon-single-link.twig' with { pretty_name: 'Facebook', icon: 'facebook', round: round, discrete: discrete, negative: negative, url: 'https://www.facebook.com/MediathequeValais' } %}
{% include '@atoms/social-icon/social-icon-single-link.twig' with { pretty_name: 'Twitter', icon: 'twitter', round: round, discrete: discrete, negative: negative, url: 'https://twitter.com/mv' } %}
{% include '@atoms/social-icon/social-icon-single-link.twig' with { pretty_name: 'Instagram', icon: 'instagram', round: round, discrete: discrete, negative: negative, url: 'http://instagram.com/MediathequeValais' } %}
{% include '@atoms/social-icon/social-icon-single-link.twig' with { pretty_name: 'Youtube', icon: 'youtube', round: round, discrete: discrete, negative: negative, url: 'https://www.youtube.com/user/mvnews' } %}
{% include '@atoms/social-icon/social-icon-single-link.twig' with { pretty_name: 'LinkedIn', icon: 'linkedin', round: round, discrete: discrete, negative: negative, url: 'https://www.linkedin.com/site/mv/' } %}
