{% set pretty_name = pretty_name %}
{% set icon = icon %}
{% set round = round ? ' social-icon-round' : '' %}
{% set discrete = discrete ? ' social-icon-discrete' : '' %}
{% set negative = negative ? ' social-icon-negative' : '' %}
<a href="#" class="{{ 'social-icon ' ~ icon ~ round ~ negative ~ discrete }}">
  <span class="icon fab fa-{{icon}}" title="{{pretty_name}}"></span>
</a>
