@charset 'utf-8';

.btn {
  text-decoration: none;
  white-space: normal;
  transition:
    background 0.15s,
    color 0.15s,
    border-color 0.15s;

  @extend .focused;

  &:before { border-width: 2px; }

  &:disabled,
  &.disabled { opacity: 1; }
}

.btn-primary {
  font-weight: $font-weight-bold;

  &:hover,
  &.hover {
    background: $color-primary;
    border-color: $color-primary;
  }

  &:focus:before,
  &.focus:before { border-color: $color-primary; }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    // ugly ↓
    // background: linear-gradient(to bottom, $red-dark 0%, $red 100%);
    background: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }

  &:disabled,
  &.disabled {
    background: $gray-100;
    border-color: $gray-300;
    color: $gray-300;

    .bg-dark & {
      background: $black;
      border-color: $gray-600;
      color: $gray-600;
    }
  }
}

.btn-secondary {
  background: $color-secondary;
  border-color: $color-secondary;
  font-weight: $font-weight-bold;
  color: $color-white;

  .bg-dark & {
    border-color: $gray-600;
    color: $white !important;
  }

  &:hover,
  &.hover {
    background: $color-secondary-dark;
    border-color: $color-secondary-dark;
    color: $color-white;

    .bg-dark & {
      background: transparent;
      border-color: $gray-100;
    }
  }

  &:focus:before,
  &.focus:before { border-color: $gray-600; }

  .bg-dark &:focus,
  .bg-dark &.focus {
    border-color: $gray-100;
    &:before { border-color: $gray-100; }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: $color-secondary;
    border-color: $color-secondary;

    .bg-dark & {
      background: $gray-600;
      border-color: $white;
    }
  }

  &:disabled,
  &.disabled {
    background: transparent;
    border-color: $gray-600;
    color: $gray-600 !important;
  }
}

.btn-tertiary {
  background: $color-tertiary;
  border-color: $color-tertiary;
  font-weight: $font-weight-bold;
  color: $color-white;

  .bg-dark & {
    border-color: $gray-600;
    color: $white !important;
  }

  &:hover,
  &.hover {
    background: $color-tertiary-dark;
    border-color: $color-tertiary-dark;
    color: $color-white;

    .bg-dark & {
      background: transparent;
      border-color: $gray-100;
    }
  }

  &:focus:before,
  &.focus:before { border-color: $gray-600; }

  .bg-dark &:focus,
  .bg-dark &.focus {
    border-color: $gray-100;
    &:before { border-color: $gray-100; }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: $color-tertiary;
    border-color: $color-tertiary;

    .bg-dark & {
      background: $gray-600;
      border-color: $white;
    }
  }

  &:disabled,
  &.disabled {
    background: transparent;
    border-color: $gray-600;
    color: $gray-600 !important;
  }
}

.btn-accent {
  background: $color-accent;
  border-color: $color-accent;
  font-weight: $font-weight-bold;
  color: $color-white;

  .bg-dark & {
    border-color: $gray-600;
    color: $white !important;
  }

  &:hover,
  &.hover {
    background: $color-accent-lighter;
    border-color: $color-accent-lighter;
    color: $color-black;

    .bg-dark & {
      background: transparent;
      border-color: $gray-100;
    }
  }

  &:focus:before,
  &.focus:before { border-color: $gray-600; }

  .bg-dark &:focus,
  .bg-dark &.focus {
    border-color: $gray-100;
    &:before { border-color: $gray-100; }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: $color-accent;
    border-color: $color-accent;

    .bg-dark & {
      background: $gray-600;
      border-color: $white;
    }
  }

  &:disabled,
  &.disabled {
    background: transparent;
    border-color: $gray-600;
    color: $gray-600 !important;
  }
}

.btn-subtle {
  background: transparent;
  border-color: $gray-300;

  .bg-dark & {
    border-color: $gray-600;
    color: $white !important;
  }

  .bg-gray-100 & {
    background-color: $body-bg;
  }

  &:hover,
  &.hover {
    background: $gray-100;
    border-color: $gray-600;

    .bg-dark & {
      background: transparent;
      border-color: $gray-100;
    }
  }

  &:focus:before,
  &.focus:before { border-color: $gray-600; }

  .bg-dark &:focus,
  .bg-dark &.focus {
    border-color: $gray-100;
    &:before { border-color: $gray-100; }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: linear-gradient(to bottom, $gray-100 0%, $white 100%);
    border-color: $gray-300;

    .bg-dark & {
      background: $gray-600;
      border-color: $white;
    }
  }

  &:disabled,
  &.disabled {
    background: transparent;
    border-color: $gray-600;
    color: $gray-600 !important;
  }
}

.btn-light {
  &,
  &:hover {
    border-color: gray('600');
  }
}

.btn-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: $white;
  border: none;
  box-shadow: 0 0 0 2px rgba($black, 0.4);
  line-height: 1;
  color: rgba($black, 0.4);
  transition: box-shadow 0.2s;
  cursor: pointer;

  @include hover {
    box-shadow: 0 0 0 5px rgba($black, 0.6);
    outline: 1rem solid transparent;
    color: rgba($black, 0.6);
  }
}
