<button class="btn btn-accent hover">Accent hover</button>
<button class="btn btn-accent active">Accent active</button>
<button class="btn btn-accent focus">Accent focus</button>
<button class="btn btn-accent" disabled>Accent disabled</button>
