<button class="btn btn-subtle hover">Subtle hover</button>
<button class="btn btn-subtle active">Subtle active</button>
<button class="btn btn-subtle focus">Subtle focus</button>
<button class="btn btn-subtle" disabled>Subtle disabled</button>
