<button id="nav-toggle" class="nav-toggle btn btn-subtle">
  {% include '@atoms/loader/loader.twig' %}
  {% include '@atoms/icon/icon.twig' with { icon: 'bars', pretty_name: 'Open' } %}
  {% include '@atoms/icon/icon.twig' with { icon: 'times', pretty_name: 'Close' } %}
  Browse
</button>
