
{% include '@molecules/access-nav/access-nav.twig' %}

{% block fullintro %}{% endblock %}

{% include '@molecules/nav-inter/nav-inter.twig' %}

{% block header %}
  {% include '@organisms/navbar/navbar-app.twig' %}
{% endblock %}

{% include "@molecules/search/search-large.twig" %}

<div class="main-container mt-5">
  <div class="w-100">

    {% block main %}
    <main id="main" role="main" class="content container">
      {% block content %}

      <h2 class="mt-5 mb-4">Articles</h2>
      <div class="row">
        {% for i in [1,2,3,4,5,6] %}
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="links-group links-group-teaser">
            <h5 id="links-group-title"><a class="link-pretty" href="#">Accueil</a> ({{i*2}})</h5>
            <nav class="nav flex-column flex-wrap align-items-start" role="navigation" aria-labelledby="links-group-title">
              <a class="nav-link link-pretty" href="#">Journal de bord</a>
              <a class="nav-link link-pretty" href="#">Responsabilités</a>
              <a class="nav-link link-pretty" href="#">Organigrammes de la direction</a>
              <a class="nav-link link-pretty" href="#">Procédures</a>
            </nav>
          </div>
        </div>
        {% endfor %}
      </div>

      <h2 class="mt-5 mb-4">Services</h2>
      <div class="row">
        {% for i in [1,2,3,4,5,6] %}
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="card link-trapeze-vertical bg-accent text-white">
            <div class="card-body">
              Service {{i}}
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      {% endblock %}
    </main>
    {% endblock %}

  </div>

  {% block footer_container %}
  <div class="pt-5 pb-5">
    <div class="container">
      {% block footer %}
      {% include '@organisms/footer/footer-app.twig' %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
</div>
</div>
