<div class="container-grid">

  <h1 class="mt-3 mb-5">Accessibility (A11y)</h1>

  <h2>General recommendations</h2>
  <p class="mt-3">In any Valais Media Library project, you need to be thoughtful about accessibility: this does not only concern people browsing the web with a screen reader, but also people using the keyboard only, people that may be color blind, people that don't understand the language, etc.</p>

  <hr>

  <h2 class="mt-3 mb-3">Specific recommendations</h2>

  <h3 class="mt-3">Colors and contrasts</h3>
  <p>Good color contrasts for accessibility mean using colors that provide maximum contrast. You need to make sure there is enough contrast between the content and its background.</p>
  <p>Please refer to the <a href="/#/colors">color palette page</a>. The <b>accessibility table</b> provides color pairings that respect this recommendation.</p>

  <h3>HTML5</h3>
  <p>Use HTML5 as much as possible, don't use a basic <code>&lt;div&gt;</code> everywhere and prefer the correct and semantic elements instead.</p>

  <h3>Aria</h3>
  <p>Use Aria tags whenever it's needed, and remember <b>it is better to not use an aria tag than to use the wrong one</b>.</p>

  <h3>Skip links (access nav)</h3>
  <p>Don't forget to add the <a href="/#/molecules/access-nav">skip links</a> to every page of your project. They should allow the user to more easily get to the main areas of the website.</p>
  <p>To do that:</p>
  <ol class="list-numbered">
    <li>Set main area to:  <code>&lt;main role="main" id="main"&gt;</code></li>
    <li>Set main navigation to: <code>&lt;nav class="nav-main" id="main-navigation" role="navigation"&gt;</code></li>
    <li>Set search field to: <code>&lt;input type="text" class="form-control" id="search" placeholder="Rechercher"&gt;</code></li>
    <li>Set a contact email</li>
  </ol>

  <hr>

  <div class="mt-3 mb-5">
    <h2 class="mb-3">Official A11y guidelines</h2>
    <div class="introduction bg-gray-100 mt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <p>MV-Styleguide follows the <b>Web Content Accessibility Guidelines 2.1</b>. Those guidelines must be applied the best way possible and follow the <b>level AA</b> recommendations.</p>
            <div>
              <a href="https://www.w3.org/TR/WCAG21" target="_blank" class="card link-trapeze-horizontal">
                <div class="card-body">
                  <h5 class="card-title text-arrow mb-0">WCAG 2.1 website</h5>
                </div>
              </a>
            </div>
            <p>You can as well <a href="https://www.w3.org/WAI/WCAG21/quickref/?versions=2.1&currentsidebar=%23col_customize&levels=aaa" target="_blank">verify the requirements (success criteria) and techniques</a> about WCAG 2.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Further read</h2>
  <p>Please consider those links when adressing specific accessibility features:</p>
  <ul>
    <li><a href="https://a11yproject.com/" target="_blank"><b>The A11Y Project</b></a><br>“A community-driven effort to make web accessibility easier.”</li>
    <li><a href="https://www.access-for-all.ch/en/" target="_blank"><b>Access For All</b></a><br>Swiss Accessibility foundation for information and communication technology.</li>
  </ul>

  <hr>

  <h6 class="mt-3">A quote, for when you need to advocate about accessibility</h6>
  <blockquote class="blockquote mt-3 mb-5">
        <p class="mb-0">The Web is fundamentally designed to work for all people, whatever their hardware, software, language, culture, location, or physical or mental ability. When the Web meets this goal, it is accessible to people with a diverse range of hearing, movement, sight, and cognitive ability.</p>
        <footer class="blockquote-footer"><cite title="Philip K. Dick"><a href="https://www.w3.org/standards/webdesign/accessibility" target="_blank">Henry & McGee, W3C</a></cite></footer>
      </blockquote>

</div>
