<div class="container text-center mt-5 mb-5">
  <h1>Valais Media Library Web Styleguide</h1>
  <p class="lead">MV-Styleguide</p>
  <hr>
</div>

<div class="container my-5">
  <h2>Dive in</h2>
  <p>
    The following pages will <b>introduce you to the styleguide</b> and <b>explain how you can use it</b>:
  </p>
  <div class="card-deck">
    <a href="#/doc/design--index.html" class="card link-trapeze-horizontal">
        <div class="card-body">
          <picture class="card-img-top">
            <img src="./images/styleguide/illustrations/design-principles-teaser.png" class="img-fluid" title="Design Principles" alt="3 Geometric shapes that inspired the Design Principles" />
          </picture>
            <h3 class="card-title">Design principles</h3>
          <p class="card-text">Guiding principles for our design decisions</p>
        </div>
    </a>
    <!-- <a href="#/doc/how it works.md" class="card link-trapeze-horizontal">
      <div class="card-body">
        <picture class="card-img-top">
          <img src="./images/styleguide/illustrations/how-it-works-teaser.png" class="img-fluid" title="How MV-Styleguide work " alt="The shape of an atom to depict our design approach" />
        </picture>
        <h3 class="card-title">How it works</h3>
        <p class="card-text">A tour on how MV-Styleguide is design and build</p>
      </div>
    </a> -->
    <a href="#/doc/user%20documentation--index.md" class="card link-trapeze-horizontal">
      <div class="card-body">
        <picture class="card-img-top">
          <img src="./images/styleguide/illustrations/how-to-start-teaser.png" class="img-fluid" title="Start using MV-Styleguide" alt="Read to play with MV-Styleguide?" />
        </picture>
        <h3 class="card-title">How to start</h3>
        <p class="card-text">A step-by-step guide to start using MV-Styleguide</p>
      </div>
    </a>
  </div>
</div>

<div class="container my-5">
  <h2>Visual design</h2>
  <p>
    MV-Styleguide is about <b>digital commmunication and design</b>. Here is visual guidance for our styleguide:
  </p>
  <div class="card-deck">
    <a href="https://www.Valais Media Library.ch/campus/services/communication/en/brand-identity/" class="card link-trapeze-horizontal">
      <div class="card-body">
        <picture class="card-img-top">
          <img src="./images/styleguide/illustrations/brand-identity-teaser.png" class="img-fluid" title="Brand Identity" alt="Valais Media Library corporate branding is at the heart of the styleguide" />
        </picture>
        <h3 class="card-title">Brand Identity</h3>
        <p class="card-text">Valais Media Library logo, brand guidelines and how to use them</p>
      </div>
    </a>
    <a href="#/doc/design--typography.html" class="card link-trapeze-horizontal">
      <div class="card-body">
        <picture class="card-img-top">
          <img src="./images/styleguide/illustrations/typography-teaser.png" class="img-fluid" title="Typography" alt="Text is 95% of what we see online: use typography properly, please!" />
        </picture>
        <h3 class="card-title">Typography</h3>
        <p class="card-text">Everything you need to know about setting up text</p>
      </div>
    </a>
    <a href="#/doc/design--iconography.md" class="card link-trapeze-horizontal">
      <div class="card-body">
        <picture class="card-img-top">
          <img src="./images/styleguide/illustrations/iconography-teaser.png" class="img-fluid" title="Iconography" alt="Icons and pictograms: symbols that give meaning to certain actions" />
        </picture>
        <h3 class="card-title">Iconography</h3>
        <p class="card-text">On the usage of icons and the available pictograms</p>
      </div>
    </a>
    <a href="#/colors" class="card link-trapeze-horizontal">
      <div class="card-body">

        <h3 class="h3 card-title text-arrow mb-0"><img src="./images/styleguide/illustrations/color-palette-teaser.png" class="icon" title="Color palette" alt="Preview of Valais Media Library color palette: 8 colors" />&nbsp;Color palette</h3>
      </div>
    </a>
  </div>
</div>

<div class="container-grid my-5">
  <h2>
    <svg class="icon" aria-hidden="true" style="color:#A80E17;"><use xlink:href="#icon-accessibility"></use></svg> Accessibility
  </h2>
  <p>
    Please read about the <strong>required accessibility recommendations</strong>:
  </p>
  <div>
    <a href="#/doc/accessibility.html" class="card link-trapeze-horizontal">
      <div class="card-body">
        <picture class="card-img-top">
          <img src="./images/styleguide/illustrations/accessibility-teaser.png" class="img-fluid" title="Logo of the Accessibility initiative" alt="A human silhouette with open arms" />
        </picture>
        <h3 class="card-title">Globa A11y recommendations</h3>
        <p class="card-text">Information and rules to follow regarding accessibility</p>
      </div>
    </a>
  </div>
</div>

<div class="container-grid my-5">
  <h2>Reports</h2>
  <p>
    Set the necessery scripts to <b>analyse the audience's activity</b> on your site.
  </p>
  <div>
    <a href="#/doc/user%20documentation--reports.md" class="card link-trapeze-horizontal">
      <div class="card-body">
        <h3 class="card-title text-arrow">Site Analytics</h3>
        <p class="card-text">Information and howto to start generating reports</p>
      </div>
    </a>
  </div>
</div>

<div class="container-grid my-5">
    <h2>&#128188; Legal obligation</h2>
    <p>
     Legal obligations on your site
    </p>
    <div>
      <a href="#/organisms/cookie-consent" class="card link-trapeze-horizontal">
        <div class="card-body">
          <h3 class="card-title">Cookie consent &#127850;</h3>
          <p class="card-text">By using the styleguide, your website comply the european cookie law by informing users that your site has cookies.</p>
        </div>
      </a>
    </div>
  </div>

<div class="container-grid my-5">
  <h2>Contribute</h2>
  <p>
    MV-Styleguide is Open Source. Help us <b>make the project better</b>:
  </p>
  <div>
    <a href="#/doc/contribute--index.md" class="card link-trapeze-horizontal">
      <div class="card-body">
        <h3 class="card-title">Contribution 🤝</h3>
        <p class="card-text">Guidelines for contributing to MV-Styleguide (design + code + documentation)</p>
      </div>
    </a>
  </div>
</div>

<div class="container-grid my-5">
  <h2>Feedback and support</h2>
  <p>
    A dedicated page to help you with <b>new requests</b>:
  </p>
  <div>
    <a href="#/doc/contribute--support-and-request.html" class="card link-trapeze-horizontal">
      <div class="card-body">
        <h3 class="h3 card-title text-arrow mb-0">Support and requests ☝️</h3>
      </div>
    </a>
  </div>
</div>
