<h4>Informations utiles</h4>
<dl class="definition-list definition-list-grid">
  <dt>Nom</dt>
  <dd>Inter has ruinarum varietates</dd>
  <dt>Intervenant</dt>
  <dd><a class="link-pretty" href="#">Consociatos ex isdem foveis cerneret </a></dd>
  <dt>Catégories</dt>
  <dd>
    <a href="#" class="tag tag-primary">Itaque</a>
    <a href="#" class="tag tag-primary">Amicitiae</a>
    <a href="#" class="tag tag-primary">Calamitatum societates</a>
  </dd>
  <dt>Lieu</dt>
  <dd><a class="link-pretty" href="#">SU 42</a></dd>
  <dt class="definition-list-item-full">A propos</dt>
  <dd class="definition-list-item-full">Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in Brittanniam missus ut militares quosdam perduceret ausos conspirasse Magnentio, cum reniti non possent, iussa licentius supergressus fluminis modo fortunis conplurium sese repentinus infudit et ferebatur per strages.</dd>
</dl>
