@charset 'utf-8';

// Name:            Tile
// Description:     Component to create tiled boxes
//
// Component:       `mv-tile`
//
// Modifiers:       `mv-tile-xsmall`
//                  `mv-tile-small`
//                  `mv-tile-large`
//                  `mv-tile-xlarge`
//                  `mv-tile-default`
//                  `mv-tile-muted`
//                  `mv-tile-primary`
//                  `mv-tile-secondary`
//
// States:          `mv-preserve-color`
//
// ========================================================================


// Variables
// ========================================================================

$tile-padding-horizontal:                       $spacer !default;
$tile-padding-horizontal-s:                     ($spacer / 2) !default;
$tile-padding-horizontal-m:                     (2 * $spacer) !default;
$tile-padding-vertical:                         $spacer !default;
$tile-padding-vertical-m:                       (2 * $spacer) !default;

$tile-xsmall-padding-vertical:                  ($spacer / 2) !default;
$tile-small-padding-vertical:                   $spacer !default;
$tile-large-padding-vertical:                   (4 * $spacer) !default;
$tile-large-padding-vertical-m:                 (3 * $spacer) !default;
$tile-xlarge-padding-vertical:                  (6 * $spacer) !default;
$tile-xlarge-padding-vertical-m:                (5 * $spacer) !default;

$tile-default-background:                       $color-white !default;
$tile-muted-background:                         $color-contrast-lower !default;
$tile-primary-background:                       $color-primary !default;
$tile-secondary-background:                     $color-secondary !default;
$tile-tertiary-background:                      $color-tertiary !default;
$tile-accent-background:                        $color-accent !default;
$tile-info-background:                          $color-info !default;


/* ========================================================================
   Component: Tile
 ========================================================================== */

.mv-tile {
    position: relative;
    box-sizing: border-box;
    padding-left: $tile-padding-horizontal;
    padding-right: $tile-padding-horizontal;
    padding-top: $tile-padding-vertical;
    padding-bottom: $tile-padding-vertical;
}

/* Phone landscape and bigger */
@media (min-width: var(--breakpoint-sm)) {

    .mv-tile {
        padding-left: $tile-padding-horizontal-s;
        padding-right: $tile-padding-horizontal-s;
    }

}

/* Tablet landscape and bigger */
@media (min-width: var(--breakpoint-md)) {

    .mv-tile {
        padding-left: $tile-padding-horizontal-m;
        padding-right: $tile-padding-horizontal-m;
        padding-top: $tile-padding-vertical-m;
        padding-bottom: $tile-padding-vertical-m;
    }

}

/*
 * Micro clearfix
 */

.mv-tile:before,
.mv-tile:after {
    content: "";
    display: table;
}

.mv-tile:after { clear: both; }

/*
 * Remove margin from the last-child
 */

.mv-tile > :last-child { margin-bottom: 0; }


/* Size modifiers
 ========================================================================== */

/*
 * XSmall
 */

.mv-tile-xsmall {
    padding-top: $tile-xsmall-padding-vertical;
    padding-bottom: $tile-xsmall-padding-vertical;
}

/*
 * Small
 */

.mv-tile-small {
    padding-top: $tile-small-padding-vertical;
    padding-bottom: $tile-small-padding-vertical;
}

/*
 * Large
 */

.mv-tile-large {
    padding-top: $tile-large-padding-vertical;
    padding-bottom: $tile-large-padding-vertical;
}

/* Tablet landscape and bigger */
@media (min-width: var(--breakpoint-md)) {

    .mv-tile-large {
        padding-top: $tile-large-padding-vertical-m;
        padding-bottom: $tile-large-padding-vertical-m;
    }

}


/*
 * XLarge
 */

.mv-tile-xlarge {
    padding-top: $tile-xlarge-padding-vertical;
    padding-bottom: $tile-xlarge-padding-vertical;
}

/* Tablet landscape and bigger */
@media (min-width: var(--breakpoint-md)) {

    .mv-tile-xlarge {
        padding-top: $tile-xlarge-padding-vertical-m;
        padding-bottom: $tile-xlarge-padding-vertical-m;
    }

}


/* Style modifiers
 ========================================================================== */

.mv-tile-default {
    background: $tile-default-background;
}

.mv-tile-muted {
    background: $tile-muted-background;
    color: $color-black;
}

.mv-tile-primary {
    background: $tile-primary-background;
}
.mv-tile-secondary {
    background: $tile-secondary-background;
}
.mv-tile-tertiary {
    background: $tile-tertiary-background;
}
.mv-tile-accent {
    background: $tile-accent-background;
    color: $color-black;
}
.mv-tile-info {
    background: $tile-info-background;
}

.mv-tile-primary,
.mv-tile-secondary,
.mv-tile-tertiary,
.mv-tile-info {
    color: $color-white;
    a {
        color: $color-white !important;
        text-decoration: none;
    }
}
