<div class="mv-tile mv-tile-default">
  <p class="text-center h4">Default</p>
</div>
<div class="mv-tile mv-tile-primary">
  <p class="text-center h4">Primary</p>
</div>
<div class="mv-tile mv-tile-secondary">
  <p class="text-center h4">Secondary</p>
</div>
<div class="mv-tile mv-tile-tertiary">
  <p class="text-center h4">Tertiary</p>
</div>
<div class="mv-tile mv-tile-accent">
  <p class="text-center h4">Accent</p>
</div>

<hr>

<div class="mv-tile mv-tile-primary mv-tile-xsmall">
  <p class="text-center h4">XSmall</p>
</div>
<div class="mv-tile mv-tile-secondary mv-tile-small">
  <p class="text-center h4">Small</p>
</div>
<div class="mv-tile mv-tile-default">
  <p class="text-center h4">Default</p>
</div>
<div class="mv-tile mv-tile-primary mv-tile-large">
  <p class="text-center h4">Large</p>
</div>
<div class="mv-tile mv-tile-secondary mv-tile-xlarge">
  <p class="text-center h4">XLarge</p>
</div>
